<% if @question.errors.any? %>
  <ul>
    <% @question.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %> 

<div class="container bs-docs-container">
<%= form_for @question, method: :patch do |form| %>
  <div>
    <%= form.label :title %>
    <%= form.text_field :title, placeholder: "" %>
  </div>

  <div>
    <%= form.label :content %>
    <%= form.text_area :content, placeholder: "" %>
  </div>

  <input type="submit" name="commit" value="Update">
<% end %>
</div>

