<h1 class="center">Edit name</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <%= form_tag "/users/#{@user.id}", :method => 'patch' do %>
    
      <p>
        <%= label_tag :name %>
        <%= text_field_tag :name, @user.name %>
      </p>

      <p>
        <%= label_tag :department %>
        <%= text_field_tag :department, @user.dept %>
      </p>

      <p>
        <%= label_tag :password %>
        <%= password_field_tag :password %>
      </p>
    
      <input type="submit" name="commit" value="Update User">
    <% end %>
  </div>

</div>