<% provide(:title, 'Sign Up') %>
<h1 class="center">Sign Up</h1>

<% if @user.errors.any? %>
  <ul class="errors">
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_tag "/users" do %>
      <%= label_tag :name %>
      <%= text_field_tag :name %>

      <%= label_tag :email %>
      <%= text_field_tag :email %>

	    <%= label_tag :dept %>
      <%= text_field_tag :dept %>

      <%= label_tag :role %>
      <%= text_field_tag :role %>

      <%= label_tag :password %>
      <%= password_field_tag :password %>

      <%= submit_tag "Create Account", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

