<% if @answer.errors.any? %>
  <ul>
    <% @answer.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %> 

<div class="container bs-docs-container">
<%= form_for @answer do |form| %>
  <div>
    <%= form.label :content %>
    <%= form.text_area :content, placeholder: "" %>
  </div>

  <div>
    <%= form.hidden_field :user_id, value: @user_id %>
  </div>

  <div>
    <%= form.hidden_field :course_id, value: @course_id %>
  </div>

  <div>
    <%= form.hidden_field :question_id, value: @question_id %>
  </div>

  <div>
    <%= form.hidden_field :date, value: Time.now.strftime("%m/%d/%Y") %>
  </div>

  <input type="submit" name="commit" value="Post">
<% end %>
</div>
