<h2><%= @course.code %> - <%= @course.title %></h2>

<p><%= @course.description %></p>

<hr>

<p><%= link_to "Post a Question", new_question_url %></p>

<table class="table table-striped table-hover">
  <tr>
    <th>Title</th>
    <th>User</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
  <% @questions.each do |question| %>
    <tr>
      <td><%= link_to question.title, question_url(question.id) %></td>
      <td><%= question.user_id %></td>
      <td><%= link_to "edit", edit_question_url(question.id) %></td>
      <td><%= link_to "delete", "/questions/#{question.id}", :method => 'delete' %></td>
    </tr>
  <% end %>
</table>