<div class="container bs-docs-container">
  <h2 class="center"><%= link_to @course.code + ' - ' + @course.title, course_url(@course.id) %></h2>

  <div class="row">
    <div class="col-md-4">
    <div class="row">
      <div class="col-md-6"><h4>Questions</h4></div>
      <div class="col-md-4"><h6><%= link_to "Post a Question", new_question_url(course_id: @course.id) %></h6></div>
    </div>
    <% @course.questions.order('id desc').each do |q| %>
      <div class="row">
          <div class="col-md-8"><h5><%= link_to q.title, course_url(@course.id, 'qid': q.id) %></h5></div>
          <% if q.user_id == session['user_id'] %>
          <div class="col-md-1"><h6><%= link_to "edit", edit_question_url(q.id), :method => 'get' %></h6></div>
          <div class="col-md-1"><h6><%= link_to "delete", question_url(q.id), :method => 'delete' %></h6></div>
          <% end %>
      </div>
      <p><%= q.content %></p>
      <hr>
    <% end %>
    </div>
    <div class="col-md-8">
      <% if params['qid'].nil? %> 
        <h4>Description</h4>
        <hr>
        <p><%= @course.description %></p>
        <h4>Announcements</h4>
        <hr>
        <% @course.announcements.each do |a| %> 
            <h5><%= a.title %></h5>
            <p><%= a.content %></p>
            <hr>
        <% end %>
      <% else %>
        <div class="row">
        <% q = Question.find_by_id(params['qid']) %>
        <h3 class="center"><%= q.title %></h3>
        <h5 class="center"><%= q.user.email %></h5>
        <div class="row">
            <div class="col-md-6"><h4>Answers</h4></div>
            <div class="col-md-4"><h6><%= link_to "Add an Answer", new_answer_url('course_id': @course.id, 'question_id': q.id) %></h6></div>
        </div>
        <hr>
        <% q.answers.each do |a| %> 
            <p>'<%= a.content %></p>
            <div class="col-md-7"></div>
            <div class="col-md-3"><%= a.user.email %></div>
            <% if a.user_id == session['user_id'] %>
              <div class="col-md-2"><%= link_to 'delete', answer_url(a.id, 'qid': q.id), :method => 'delete' %></div>
            <% end %>
        <% end %>
      <% end %>
    </div>
  </div>


</div>
